diffusers==0.34.0
easydict==1.13
einops==0.8.0
flash_attn==2.4.2
ftfy==6.3.1
imageio==2.36.1
imageio-ffmpeg==0.5.1
loguru==0.7.3
moviepy==2.1.1
numpy==1.26.4
opencv-python==4.10.0.84
psutil==6.0.0
safetensors==0.4.5
timm==0.6.7
torch==2.5.0
torchvision
tqdm==4.66.5
transformers==4.47.1